* {
  /* + 모든 태그에 대해서 margin, padding 제거 */
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#body {
  /* height: 100vh;
  width: 1024px;
  margin: 0 auto; */
}
#footer {
  height: 200px;
  background-color: gray;
}
